body {
    background:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #FFFCC6;
    border-radius: 5px;
    box-shadow: 5px 8px #72CF7C;
}

.assignment img {
    width: 200px;
    height: 200px;
    border: 2px solid #489C4A;
    margin-right: 20px;
    border-radius: 5px;
}

h1 {
    color: #72CF7C;
    text-align: center;
}

a {
    text-decoration: none;
    color: #72CF7C;
}

.assignment a:hover {
    color: black;
}